---
interface Props {
    data: any;
    error: Error | undefined;
    isLoading: boolean
}
const {data, error, isLoading} = Astro.props as Props
---
{isLoading && <p>Loading...</p>}
{error && <p>Error: {error.message}</p>}
{data && (
    <ul>
      {data.map((item) => <li>{item.title}</li>)} {/* Example display */}
    </ul>
)}